@import '../variables.scss';

div.card-container {
  padding: 0.5em;
  background-color: $color-white;
  border-radius: 0.5em;
  box-shadow: $box-shadow;
  word-wrap: break-word;
  height: 100%;
  background-color: var(--background-primary);
  color: var(--text-primary);
}