.form .form-input {
  width: 100%;
}

.form label {
  display: block;
}

label.form-label.required::after {
  content: "*";
  margin-left: 0.2em;
  color: red;
}

.form .validation-error {
  color: red;
  font-size: 0.8em;
}
