.language-selector {
  font-size: 0.8em;
  margin-left: 2em;
}

.language-selector.dropdown .dropdown-toggle {
  padding: 0.1em 0.4em;
  font-size: 1.2em;
}

.language-selector.dropdown .dropdown-toggle.btn {
  background-color: $color-white;
  box-shadow: var(--flag-icon-box-shadow);
}

.language-selector.dropdown .dropdown-toggle .flag-icon {
  padding: 0em 0;
  box-shadow: var(--flag-icon-box-shadow);
}

.language-selector.dropdown .dropdown-toggle::after {
  vertical-align: 0.1em;
  color: $color-black;
}

.language-selector.dropdown .dropdown-menu {
  min-width: 6em;
  padding: 0;
  font-size: inherit;
}

.language-selector.dropdown .dropdown-item {
  padding: 0.3em;
  background-color: #e6e6e6;
}

.language-selector.dropdown .dropdown-item div {
  padding: 1em;
  background-color: $color-white;
  border-radius: 0.1em;
}

.language-selector.dropdown .dropdown-item .flag-icon {
  margin-right: 1em;
  box-shadow: var(--flag-icon-box-shadow);
}

div.languages-label {
  color: $color-white;
  background-color: #707a8e;
  padding: 1em 1em;
}
