@import '../variables.scss';

.profile-button {
  font-size: 0.8em;
  margin-left: 2em;
}

.profile-button.dropdown .dropdown-toggle {
	padding: 0 0.2em;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--text-primary);
}

.profile-button.dropdown .dropdown-toggle::after {
  content: none;
}

.profile-button.dropdown .dropdown-toggle:focus {
  box-shadow: none;
}

.profile-button.dropdown .dropdown-menu {
  min-width: 12rem;
  padding-top: 0;
  font-size: inherit;
  background-color: var(--background-primary);
}

.profile-button.dropdown .dropdown-menu .dropdown-item {
  background-color: var(--background-secondary);
  &:hover, &:active {
    background-color: var(--background-secondary);//rgb(233, 233, 233);
  }
}

.profile-button.dropdown .dropdown-menu .dropdown-item div {
  color: var(--text-primary);
  background-color: var(--background-primary);
}

.profile-button.dropdown .dropdown-menu .user-details {
  text-align: left;
  padding: 1em 1em 1em;
  background-color: $site-secondary-color;
  color: $color-white;
}
