.site-logo {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

.site-logo .site-title {
  font-size: 3em;
  font-weight: bold;
  color: white;
  font-family: 'Brush Script MT', cursive;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
