@import '../variables.scss';

.logo-container {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}

span.site-logo {
  font-size: 3em;
  font-weight: bold;
  color: $color-white;
  font-family: 'Brush Script MT', cursive;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.4);
  background-color: #707a8e;
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}
