@import '../variables.scss';

.main-content {
  display: flex;
  flex-flow: column;
  padding-left: var(--side-menu-width);
  height: 100vh;
  background-color: $main-content-background-color;
}

.main-content .page-content {
  overflow: auto;
  padding: 1em;
}
