@import '../variables.scss';

.main-content {
  position: relative;
  z-index: $main-content-z-index;
  display: flex;
  flex-flow: column;
  padding-left: var(--side-menu-width);
  height: 100vh;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}

.main-content .page-content {
  overflow: auto;
  padding: 1em;
}
