@import '../variables.scss';

.side-nav-bar {
  background-color: #707a8e;
  position: absolute;
  z-index: $side-nav-bar-z-index;
  height: 100%;
  width: var(--side-menu-width);
}

.side-nav-bar ul {
  list-style-type: none;
  padding: 0;
}

.side-nav-bar ul li {
  display: flex;
  cursor: pointer;
  color: white;
  padding: 0.4em 0.5em 0.4em 1em;
}

.side-nav-bar ul li.nested {
  padding-left: 2em;
}

.side-nav-bar ul li .nav-icon {
  margin-right: 0.5em;
  line-height: 1.2;
}

.side-nav-bar ul li:hover {
  background-color: #555e6f;
}

.side-nav-bar .nav-menu .item-opened {
  background-color: #555e6f;
}