@import '../variables.scss';

.side-nav-bar {
  background-color: $color-white;
  position: absolute;
  z-index: $side-nav-bar-z-index;
  height: 100%;
  width: var(--side-menu-width);
  box-shadow: 1px 0px 10px rgb(0 0 0 / 20%);
  padding-top: 1rem;
}

.side-nav-bar ul {
  list-style-type: none;
  padding: 0;
}

.side-nav-bar ul li {
  display: flex;
  cursor: pointer;
  color: black;
  padding: 0.4em 0.5em 0.4em 1em;
}

.side-nav-bar ul li.nested {
  padding-left: 2em;
}

.side-nav-bar ul li .nav-icon {
  margin-right: 0.5em;
  line-height: 1.2;
}

.side-nav-bar ul li:hover {
  background-color: $site-secondary-color;
  color: $color-white;
}

.side-nav-bar .nav-menu .item-opened {
  background-color: $site-secondary-color;
  color: $color-white;
}