@import './variables.scss';
@import './layout/top-nav-bar.scss';
@import './layout/main-content.scss';
@import './layout/side-nav-bar.scss';
@import './custom-grid-system.scss';
@import './components.scss';

:root {
  font-size: 1rem;
  box-sizing: border-box;
  --side-menu-width: 12em;
  --flag-icon-box-shadow: 0 0 0.5em 0.05em rgb(0 0 0 / 50%);
  --text-primary: black;
  --background-primary: white;
  --background-secondary: #f3f3f3;
  --logo-color: #707a8e;
  --logo-shadow: rgba(0, 0, 0, 0.2);
}
[data-theme='dark'] {
  --text-primary: white;
  --background-primary: #003399;
  --background-secondary: #0044cc;
  --logo-color: white;
  --logo-shadow: rgba(0, 0, 0, 0.8);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer-cursor {
  cursor: pointer;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
